{block style}
	<link rel="stylesheet" href="{$basePath}/css/login.css">
{/block}

{block content}
	<h1 n:block="title" style="text-align: center">Backend login</h1>
	<div class="wrapper">
		{control form}
		{include footer}
		</p>
	</div>

{/block}

{block footer}
	<footer><a n:href="Homepage:default">HOME</a></footer>
{/block}