parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Model\NewsManager
	- App\Model\UsersManager
	- App\Model\EvaluationsManager
	- App\Model\TokenManager
	authenticator: App\Model\AuthenticatorManager
#	adminAuthenticator: App\Model\AuthenticatorManager
