parameters:


application:
	errorPresenter: Error
##	catchExceptions: true
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 1 days



extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

services:
	router: App\RouterFactory::createRouter
	- App\Model\NewsManager
	- App\Model\UsersManager
	- App\Model\EvaluationsManager
	- App\Model\TokenManager
	- App\Model\RolesManager
	- App\Model\Facades\UserFacade
	- App\Model\Facades\NewsFacade
	- App\Model\Facades\EvaluationFacade
	- App\Model\Facades\TokenFacade
	- App\Model\Facades\RolesFacade
	authenticator: App\Model\AuthenticatorManager
#	adminAuthenticator: App\Model\AuthenticatorManager


database:
	dsn: 'mysql:host=127.0.0.1;dbname=czsiki'
	user: 'czsiki'
	password: 'czsiki'

doctrine:
        user: czsiki
        password: czsiki
        dbname: czsiki
        host: localhost
        metadata:
                App: %appDir%